In [188]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
raw = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData_df = pd.read_csv(raw)

In [196]:
playerCount = len(purchaseData_df["SN"].unique())
playerCount_df = pd.DataFrame({"Total Players": [playerCount]})
playerCount_df

   Total Players
0            576

In [210]:
Uplayer_df = len(purchaseData_df["SN"].unique())
Uitems_df = len(purchaseData_df["Item ID"].unique())
meanPrice_df = purchaseData_df["Price"].mean()
totalPurchase_df = len(purchaseData_df)
totalRevenue_df = purchaseData_df["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [Uitems_df], "Average Purchase Price": [meanPrice_df], "Total Number of Purchases":[totalPurchase_df], "Total Revenue":[totalRevenue_df]})
purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [190]:
genList = purchaseData_df.drop_duplicates(subset="SN", keep="first")
allGen = genList["Gender"].count()
male = genList["Gender"].value_counts()["Male"]
female = genList["Gender"].value_counts()["Female"]
nonGen = allGen - male - female
male_frac = (male / allGen) * 100
female_frac = (female / allGen) * 100
nonGen_frac = (nonGen / allGen) * 100

gender_demographics = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],
                                   "Total Count": [male, female, nonGen],
                                   "Percentage of Players": [male_frac, female_frac, nonGen_frac]})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)
gender_demographics

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [211]:
dropDupes_df = purchaseData_df.drop_duplicates(subset="SN", keep="first")
dropDupes_gender_grouped_df = dropDupes_df.groupby(["Gender"])
gender_grouped_df = purchaseData_df.groupby(["Gender"])

totalPurchase = gender_grouped_df["SN"].count()
meanPrice = gender_grouped_df["Price"].mean()
sumPrice = gender_grouped_df["Price"].sum()

totalPurchaseDD = dropDupes_gender_grouped_df["SN"].count()
sumPriceDD = dropDupes_gender_grouped_df["Price"].sum()
normalizedPurchase = sumPrice / totalPurchaseDD

gender_demographics_purchases_df = pd.DataFrame({"Purchase Count": totalPurchase,
                                                "Average Purchase Price": meanPrice,
                                                "Total Purchase Value": sumPrice,
                                                "Avg Total Purchase per Person": normalizedPurchase})

gender_demographics_purchases_df["Average Purchase Price"] = gender_demographics_purchases_df["Average Purchase Price"].map("${:.2f}".format)
gender_demographics_purchases_df["Total Purchase Value"] = gender_demographics_purchases_df["Total Purchase Value"].map("${:.2f}".format)
gender_demographics_purchases_df["Avg Total Purchase per Person"] = gender_demographics_purchases_df["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_demographics_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [217]:
bins = [1, 9, 14, 19, 24, 29, 34, 39, 200]
binRanges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-59", "40+"]

bin_df = genList.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binRanges)
bin_group = bin_df.groupby(["Age Groups"])

binCount = bin_group["SN"].count()
countTotal = purchaseData_df["SN"].count()
percentage = (binCount / len(purchaseData_df["SN"].unique())) * 100

age_frac = pd.DataFrame({"Total Count": binCount,
                       "Percentage of Players": percentage})

age_frac["Percentage of Players"] = age_frac["Percentage of Players"].map("{:.2f}%".format)
age_frac

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-59                31                 5.38%
40+                  12                 2.08%

In [193]:
bins = [1, 9, 14, 19, 24, 29, 34, 39, 200]
binRanges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-59", "40+"]

bin_df = purchaseData_df.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=binRanges)
bin_group = bin_df.groupby(["Age Groups"])


bin_purchase_count = bin_group["Age"].count()
bin_purchase_average = bin_group["Price"].mean()
bin_purchase_total = bin_group["Price"].sum()

bin_duplicates = purchaseData_df.drop_duplicates(subset="SN", keep="first")
bin_duplicates["Age Groups"] = pd.cut(bin_duplicates["Age"], bins, labels=binRanges)
bin_duplicates = bin_duplicates.groupby(["Age Groups"])
bin_normalized = (bin_purchase_total / bin_duplicates["SN"].count())

age_demographics_binned = pd.DataFrame({"Purchase Count": bin_purchase_count,
                                       "Average Purchase Price": bin_purchase_average,
                                       "Total Purchase Value": bin_purchase_total,
                                       "Avg Total Purchase per Person": bin_normalized})
age_demographics_binned["Average Purchase Price"] = age_demographics_binned["Average Purchase Price"].map("${:.2f}".format)
age_demographics_binned["Total Purchase Value"] = age_demographics_binned["Total Purchase Value"].map("${:.2f}".format)
age_demographics_binned["Avg Total Purchase per Person"] = age_demographics_binned["Avg Total Purchase per Person"].map("${:.2f}".format)

age_demographics_binned

C:\Users\marka\Anaconda3\envs\PythonData37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-59,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [194]:
groupedSN = purchaseData_df.groupby(["SN"])
groupedSNcount = groupedSN["Item ID"].count()
groupedSNtotal = groupedSN["Price"].sum()
groupedSNavg = groupedSNtotal / groupedSNcount

SN_demographics = pd.DataFrame({"Purchase Count": groupedSNcount,
                               "Average Purchase Price": groupedSNavg,
                               "Total Purchase Value": groupedSNtotal})
SN_demographics = SN_demographics.sort_values("Total Purchase Value", ascending=False)
SN_demographics["Average Purchase Price"] = SN_demographics["Average Purchase Price"].map("${:.2f}".format)
SN_demographics["Total Purchase Value"] = SN_demographics["Total Purchase Value"].map("${:.2f}".format)
SN_demographics.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [202]:
groupItem = purchaseData_df.groupby(["Item ID", "Item Name"])
groupItemCount = groupItem["SN"].count()
groupItemPriceSum = groupItem["Price"].sum()
groupItemV = groupItemPriceSum / groupItemCount
groupItemValue = groupItemMean * groupItemCount

popular_item_df = pd.DataFrame({"Purchase Count": groupItemCount,
                               "Item Price": groupItemV,
                               "Total Purchase Value": groupItemValue})
popular_item_df = popular_item_df.sort_values("Purchase Count", ascending=False)

popular_item_df["Item Price"] = popular_item_df["Item Price"].map("${:.2f}".format)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].map("${:.2f}".format)

popular_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [203]:
groupItem = purchaseData_df.groupby(["Item ID", "Item Name"])
groupItemCount = groupItem["Gender"].count()
groupItemPriceSum = groupItem["Price"].sum()
groupItemV = groupItemPriceSum / groupItemCount

most_profitable = pd.DataFrame({"Purchase Count": groupItemCount,
                               "Item Price": groupItemV,
                               "Total Purchase Value": groupItemPriceSum})

most_profitable = most_profitable.sort_values("Total Purchase Value", ascending=False)
most_profitable["Item Price"] = most_profitable["Item Price"].map("${:.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].map("${:.2f}".format)
most_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80