In [58]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
raw = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData_df = pd.read_csv(raw)

In [59]:
purchaseData_df = pd.read_csv(raw)
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [60]:
purchaseData_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [64]:
Uplayer_df = len(purchaseData_df["SN"].unique())
Uplayer_df

576

In [66]:
Uitems_df = len(purchaseData_df["Item Name"].unique())
Uitems_df

179

In [67]:
meanPrice_df = purchaseData_df["Price"].mean()
meanPrice_df

3.050987179487176

In [68]:
totalPurchase_df = len(purchaseData_df)
totalPurchase_df

780

In [69]:
totalRevenue_df = purchaseData_df["Price"].sum()
totalRevenue_df

2379.77

In [101]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [Uitems_df], "Average Purchase Price": [meanPrice_df], "Total Number of Purchases":[totalPurchase_df], "Total Revenue":[totalRevenue_df]})
purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [102]:
genList = purchaseData_df.drop_duplicates(subset="SN", keep="first")
allGen = genList["Gender"].count()
male = genList["Gender"].value_counts()["Male"]
female = genList["Gender"].value_counts()["Female"]
nonGen = allGen - male - female
male_frac = (male / allGen) * 100
female_frac = (female / allGen) * 100
nonGen_frac = (nonGen / allGen) * 100

In [103]:
gender_demographics_df = pd.DataFrame({"": ["Male", "Female", "Other / Non-Disclosed"],
                                       "Total Count": [male, female, nonGen],
                                      "Percentage of Players": [male_frac, female_frac, nonGen_frac]})

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_df = gender_demographics_df.set_index("")

In [94]:
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%